[submodule "vcpkg"]
	path = vcpkg
	url = https://www.github.com/microsoft/vcpkg
[submodule "oesenc"]
	path = oesenc
	url = https://www.github.com/hornang/oesenc

[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/hornang/msdfgen
[submodule "clipper2"]
	path = Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
