[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "oesenc"]
	path = oesenc
	url = https://github.com/hornang/oesenc.git
[submodule "msdfgen"]
	path = external/msdfgen
	url = https://github.com/hornang/msdfgen.git
[submodule "cutlines"]
	path = cutlines
	url = git@github.com:hornang/cutlines.git
[submodule "MercatorTile"]
	path = MercatorTile
	url = https://github.com/hornang/MercatorTile
[submodule "external/xdg-file-dialog"]
	path = external/xdg-file-dialog
	url = git@github.com:hornang/xdg-file-dialog.git
[submodule "external/msdf-atlas-gen"]
	path = external/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
