[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "oesenc"]
	path = oesenc
	url = https://github.com/hornang/oesenc.git
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/hornang/msdfgen.git
[submodule "clipper2"]
	path = Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
[submodule "cutlines"]
	path = cutlines
	url = git@github.com:hornang/cutlines.git
